@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap'); */

/* ================================
   Root variables
================================ */
:root {
  /* Background & text */
  --background: #000000;
  --foreground: #ffffff;

  /* Brand colors */
  --color-text-main: #FFE7AC;
  --color-border-gold: #FDC034;

  /* Title gradient (same as button) */
  --gradient-gold: linear-gradient(90deg,
      #A86307 0%,
      #EDB838 50%,
      #A86307 100%);

  --gradient-gold-bg: linear-gradient(90deg,
      #D4AF37 0%,
      #D4AF37 20%,
      #00F0FF 69%);

  /* Container */
  --container-max-width: 1500px;
  --container-padding: 1.5rem;
}

/* ================================
   Base styles
================================ */
html,
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-futura), sans-serif;
  font-family: var(--font-dm-sans), sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ================================
   Container utility
================================ */
.container-xl {
  max-width: var(--container-max-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}

/* ================================
   Typography system
================================ */

/* Main titles (gradient) */

h1,
h2 {
  font-family: var(--font-futura), sans-serif;
}


h1,
h2,
h3 {
  background: var(--gradient-gold);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
}

/* Sizes */
h1 {
  font-size: 90px;
  line-height: 120px;
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 60px;
    line-height: 80px;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 38px;
    line-height: normal;
  }
}

h2 {
  font-size: 46px;
}

@media screen and (max-width: 767px) {
  h2 {
    font-size: 32px;
    line-height: normal;
  }
}

h3 {
  font-size: 24px;
}

@media screen and (max-width: 767px) {
  h3 {
    font-size: 20px;
  }
}

/* Supporting headings */
h4 {
  font-size: 1.5rem;
  /* 24px */
  font-weight: 600;
  color: var(--foreground);
}

h5 {
  font-size: 1.25rem;
  /* 20px */
  font-weight: 600;
  color: var(--foreground);
}

h6 {
  font-size: 1rem;
  /* 16px */
  font-weight: 500;
  color: var(--foreground);
}

/* Paragraph */

p,
small {
  font-size: 18px;
  font-weight: 400;
  color: var(--color-text-main);
  font-family: var(--font-dm-sans), sans-serif;
  line-height: 26px;
}

@media screen and (max-width: 767px) {

  p,
  small {
    font-size: 16px;
    line-height: 24px;
  }
}

small {
  font-weight: 300;
}

@media screen and (max-width: 767px) {
  small {
    font-size: 14px !important;
    line-height: normal !important;
  }
}

.hero-para {
  font-size: 22px;
  line-height: 32px;
  color: var(--color-text-main);
  font-family: var(--font-dm-sans), sans-serif;
}

@media screen and (max-width: 767px) {

  .hero-title br {
    display: none;
  }

  .hero-para {
    font-size: 16px;
    line-height: 24px;
  }
}

/* ======== gradient ======== */

.gradient-gold-bg {
  background: var(--gradient-gold-bg);
}

.gradient-gold {
  background: var(--gradient-gold);
}